.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
