.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  align-items: center;
  justify-items: center;
}

.icon {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .icon {
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .technologiesTitle {
    font-size: 4.5rem;
  }
}
